<head>
  <meta charset="UTF-8">
  <title>Página Inicial</title>
  <link rel="stylesheet" href="termos.component.css">
</head>

<body>
<h1>Informação Legal!</h1>

<h2>Responsável pelo tratamento de dados: Ricardo Mesquita, administrador da entidade responsável Graphs4Social</h2>

<h2>Finalidade do tratamento dos dados:</h2>

<div>
  <h3>Utilizador (Dados Pessoais): após 5 anos de inatividade, a conservação caduca.</h3>
  <h4>Nome: após 5 anos de inatividade, a conservação caduca, para efeitos da aplicação (6ºartigo, a), artigo 13º).</h4>
  <h4>após 5 anos de inatividade, a conservação caduca, para efeitos de contacto da plataforma ao utilizador em casos que sejam estritamente necessários em benefício da aplicação, garantido a integridade e confidencialidade deste dado aos outros utilizadores. Também divulgado aos recursos humanos. (6ºartigo, a), artigo 5º e artigo 13º).</h4>

  <h4>Data de Nascimento: após 5 anos de inatividade, a conservação caduca, utilizada apenas para efeitos da aplicação, podendo ser mostrada aos demais utilizadores (6ºartigo, a), artigo 5º e artigo 13º).</h4>
  <h4>Email: após 5 anos de inatividade, a conservação caduca ,sendo usado para efeitos de pesquisa deste utilizador por parte dos outros na aplicação (6ºartigo, a), artigo 5º e artigo 13º).</h4>
  <h4>Imagem do Avatar: após 5 anos de inatividade, a conservação caduca ,sujeita a alteração a qualquer momento caso seja a vontade do utilizador (1º artigo).</h4>

  <h4>Estado Emocional: após 5 anos de inatividade, a conservação caduca, sujeita a alteração por parte do utilizador (1º artigo).</h4>
  <h4>Tags: 5 anos de conservação, visíveis apenas ao próprio utilizador para lhe relembrar tópicos aos quais ele se identifica (6ºartigo, a), artigo 5º e artigo 13º).</h4>
  <h4>Cidade e País de Residência: após 5 anos de inatividade, a conservação caduca, possível de serem mostrados aos demais utilizadores da aplicação (6ºartigo, a) e artigo 5º).</h4>
  <h4>Estado Emocional: após 5 anos de inatividade, a conservação caduca, alterável a qualquer momento por parte do utilizador (1º artigo) e possível de ser mostrado aos restantes utilizadores (6ºartigo, a) e artigo 5º).</h4>
  <h4>Perfil do Linkedin: após 5 anos de inatividade, a conservação caduca, alterável a qualquer momento por parte do utilizador (1º artigo) e possível de ser mostrado aos restantes utilizadores, para navegação na internet (6ºartigo, a) e artigo 5º).</h4>
  <h4>Perfil do Facebook: após 5 anos de inatividade, a conservação caduca, alterável a qualquer momento por parte do utilizador (1º artigo) e possível de ser mostrado aos restantes utilizadores, para navegação na internet (6ºartigo, a) e artigo 5º).</h4>

  <h3>Dados Coletivos: após 5 anos de inatividade, a conservação caduca.</h3>
  <h4>Tags de cada Relação e Força de Ligação: após 5 anos de inatividade, a conservação caduca, alteráveis a qualquer momento por parte do utilizador (1º artigo), sendo apenas vista pelo próprio o que foi estabelecido pelo mesmo.</h4>
</div>


<h4><b>Nota: os 5 anos de conservação implicam-se devido à possibilidade de apagamento da conta do titular caso esta se encontre inativa pelo período estipulado. Dados como a Imagem do Avatar são passíveis de alteração na aplicação consoante a vontade do utilizador (6ºartigo, a), f) e artigo 5º).</b></h4> <br>

<button class="button" (click)="voltarAoRegisto()">Voltar ao Registo</button>
</body>
