<meta charset="UTF-8">

<style>
  body {
    background-image: url('back3.png');
  }
</style>

<!--The content below is only a placeholder and can be replaced.-->
<head>
  <meta charset="UTF-8">
  <title>App Component</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <link rel="stylesheet" href="app.component.css">
</head>


<router-outlet></router-outlet>

<!--<app-inicio></app-inicio>-->
<!--editar-relacao-->
<!--<app-change-relacao></app-change-relacao>-->
<!--<app-show-relacao></app-show-relacao>-->
<!--<app-show-relacao-utilizador></app-show-relacao-utilizador>-->

<!--pedir-introducao-->
<!--<app-show-pedido-ligacao></app-show-pedido-ligacao>-->
<!--<app-show-pedido-ligacao></app-show-pedido-ligacao>-->
<!--<app-show-pedidos-introducao></app-show-pedidos-introducao>-->
<!--<app-show-pedidos-introducao-utilizador></app-show-pedidos-introducao-utilizador>-->
<!--<app-create-pedido-introducao></app-create-pedido-introducao>-->

<!--pesquisar-utilizador-->
<!--<app-create-pedido-ligacao></app-create-pedido-ligacao>-->
<!--<app-search-utilizador></app-search-utilizador>-->

<!--relacao-->
<!--<app-create-relacao></app-create-relacao>-->
<!--<app-show-introducoes></app-show-introducoes>-->
<!--<app-show-relacoes></app-show-relacoes>-->

<!--utilizador-->
<!--<app-change-utilizador-humor></app-change-utilizador-humor>-->
<!--<app-change-utilizador-info></app-change-utilizador-info>-->
<!--<app-create-utilizador></app-create-utilizador>-->
<!--<app-list-utilizador></app-list-utilizador>-->
<!--<app-show-pedido-ligacao></app-show-pedido-ligacao>-->
